{% load static %}
<!DOCTYPE HTML>
<html>
    <head>
        <title>Adventomaton. Create advent calendars for your friends</title>
        <script src="{% static 'js/jquery.slim.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/adventcalendar.css' %}">
        {% block extrahead %}
        {% endblock %}
    </head>
    <body class="d-flex flex-column min-vh-100">
        <div class="page-header p-2 m-2 title-border">
            <h1><a class="black" href="{% url 'calendar_list' %}">Adventomaton</a>
            <small class="text-muted">Create advent calendars for your friends</small>
            </h1>
        </div>
       <div class="p-2 m-1">
            {% block header %}
            {% endblock %}
        </div>
        <div class="p-2 ml-2 mr-2 mb-2 wrapper flex-grow-1">
            {% block content %}
            {% endblock %}
        </div>
    <div class="footer text-center p-2 m-2">
        Help * Contact * Privacy * {% if user.is_authenticated %}<a href="{% url 'logout' %}">Log out</a>{% else %}<a href="{% url 'login' %}">Log in</a>{% endif %} * <a href="{% url 'django_registration_register' %}">Sign up</a>
    </div>
    </body>
</html>