{% load static %}
<html>
    <head>
        <title>Create an advent calendar for your friends</title>
    </head>
    <body>
        <div class="page-header">
            <h1>Advents4Friends: Create an advent calendar for your friends</h1>
        </div>
        <div class="content container">
            <div class="row">
                <div class="col-md-8">
                    {% block content %}
                    {% endblock %}
                </div>
            </div>
        </div>
    </body>
</html>