{% load static %}
<html>
    <head>
        <title>Adventomaton. Create advent calendars for your friends</title>
        <script src="{% static 'js/jquery.slim.min.js' %}"></script>
        <script src="{% static 'js/popper.min.js' %}"></script>
        <script src="{% static 'js/bootstrap.min.js' %}"></script>
        <link rel="stylesheet" href="{% static 'css/adventcalendar.css' %}">
    </head>
    <body>
        <div class="page-header p-2 m-2">
            <h1>Adventomaton
            <small class="text-muted">Create advent calendars for your friends</small>
            </h1>
        </div>
        <div class="content container m-2">
            {% block content %}
            {% endblock %}
        </div>
    </body>
</html>