{% extends "adventcalendar/calendar.html" %}
{% load static %}

{% block back %}
    <a href={% url 'calendar_list' %}>&#129056; Back to my calendars</a>
{% endblock %}

{% block buttons %}
    <a class="btn btn-secondary" href="{% url 'calendar_edit' pk=object.pk %}" role="button">Edit</a>
    <a class="btn btn-secondary" href="{% url 'calendar_delete' pk=object.pk %}" role="button">Delete</a>
    {%  if not doors_open %}
        <a class="btn btn-secondary" href="{% url 'calendar_detail' pk=object.pk %}?doorsOpen=True" role="button">Open windows</a>
    {% endif %}
    {%  if doors_open %}
        <a class="btn btn-secondary" href="{% url 'calendar_detail' pk=object.pk %}" role="button">Close windows</a>
    {% endif %}
{% endblock %}

{% block calendar_header %}
    {{ object.name }}
{% endblock %}

{% block calendar_body %}
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
        {% for door in sorted_doors %}
            <div class="col">
                {% if doors_open %}
                    {% include "adventcalendar/door_open.html" %}
                {% endif %}
                {% if not doors_open %}
                    {% include "adventcalendar/door_closed.html" %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block calendar_footer %}
    {% if credits %}
        <p>Background image: <a href="{{ credits }}" target="_blank">Christmas pattern by bm.iphone, CC BY 2.0</a></p>
    {%  endif %}
{% endblock %}