{% extends "adventcalendar/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>Calendars</h2>
        <ul>
            {% for calendar in object_list %}
                <li>
                    <a href="{% url 'calendar_detail' slug=calendar.slug %}">{{ calendar.name }}</a>
                    <a class="btn btn-secondary btn-sm p-0 m-1" href="{% url 'calendar_copy' slug=calendar.slug %}" role="button">Copy</a>
                    <a class="btn btn-danger btn-sm p-0 m-1" href="{% url 'calendar_delete' slug=calendar.slug %}" role="button">Delete</a>
                </li>
            {% endfor %}
        </ul>
    <p>
        <a class="btn btn-secondary" href="{% url 'calendar_new' %}" role="button">New calendar</a>
    </p>
    {%  else %}
        <h2>Welcome! ☃</h2>
        <ul>
            <li>Choose a time frame (doesn't have to be December!).</li>
            <li>Create a calendar with one door for each day.</li>
            <li>Fill each door with a surprise text, link, or image.</li>
            <li>Send it to your friend!</li>
        </ul>
        <p>
            <a href="{% url 'login' %}">Log in</a> to start creating advent calendars!
        </p>
    {% endif %}
{% endblock %}