{% extends "adventcalendar/base.html" %}

{% block content %}
    {% if user.is_authenticated %}
        <h2>How it works:</h2>
        <ul>
            <li>Create a calendar.</li>
            <li>Fill the doors with your own texts, pictures, etc.</li>
            <li>Send the link to the calendar to a friend.</li>
            <li>If you want to send the same calendar to several friends, copy the calendar to create a unique link.</li>
        </ul>
        <h2>Calendars:</h2>
        <ul style="display: inline-block;">
            {% for calendar in object_list %}
                <li>
                <div class="d-flex align-items-baseline justify-content-between">
                    <a class="mr-3" href="{% url 'calendar_detail' slug=calendar.slug %}">{{ calendar.name }}</a>
                    <span>
                        <a class="btn btn-secondary btn-sm p-0 m-1" href="{% url 'calendar_copy' slug=calendar.slug %}" role="button">Copy</a>
                        <a class="btn btn-danger btn-sm p-0 m-1" href="{% url 'calendar_delete' slug=calendar.slug %}" role="button">Delete</a>
                    </span>
                </div>
                </li>
            {% endfor %}
        </ul>
    <p>
        <a class="btn btn-secondary" href="{% url 'calendar_new' %}" role="button">New calendar</a>
    </p>
    {%  else %}
        <h2>Welcome! ☃</h2>
        <ul>
            <li>Choose a time frame (doesn't have to be December!).</li>
            <li>Create a calendar with one door for each day.</li>
            <li>Fill each door with a surprise text, link, or image.</li>
            <li>Send it to your friend!</li>
        </ul>
        <p>
            <a href="{% url 'login' %}">Log in</a> to start creating advent calendars!
        </p>
    {% endif %}
{% endblock %}