{% extends "adventcalendar/calendar.html" %}
{% load static %}

{% block header %}
    {% if object.creator == view.request.user %}
        <p><a href={% url 'calendar_list' %}>&#129056; Back to my calendars</a></p>
    {% endif %}
    {% if object.creator != view.request.user %}
        <p>There are <b>{{ number_of_openable_doors }}</b> doors that you can open today.</p>
    {% else %}
        <p>
            <a class="btn btn-secondary" href="{% url 'calendar_edit' slug=object.slug %}" role="button">Edit calendar</a>
            <a class="btn btn-secondary" href="{% url 'calendar_delete' slug=object.slug %}" role="button">Delete calendar</a>
            {%  if not doors_open %}
                <a class="btn btn-secondary" href="{% url 'calendar_detail' slug=object.slug %}?doorsOpen=True" role="button">Open doors</a>
            {% endif %}
            {%  if doors_open %}
                <a class="btn btn-secondary" href="{% url 'calendar_detail' slug=object.slug %}" role="button">Close doors</a>
            {% endif %}
        </p>
    {% endif %}
{% endblock %}

{% block calendar_header %}
    <div class="text-center bg-white border-2 p-1 m-3">
        <h1>{{ object.name }}</h1>
        <small class="text-muted">({{ object.start_date }} – {{ object.final_date }})</small>
    </div>
{% endblock %}

{% block calendar_body %}
    <div class="row row-cols-2 row-cols-sm-2 row-cols-md-3 row-cols-lg-4 row-cols-xl-6">
        {% for door in sorted_doors %}
            <div class="col">
                {% if object.creator == view.request.user %}
                    {% if doors_open %}
                        {% include "adventcalendar/door_open.html" %}
                    {% else %}
                        {% include "adventcalendar/door_closed.html" %}
                    {% endif %}
                {% else %}
                    {% if door.open %}
                        {% include "adventcalendar/door_open.html" %}
                    {% elif door.is_openable %}
                        {% include "adventcalendar/door_closed.html" %}
                    {% else %}
                        {% include "adventcalendar/door_inactive.html" %}
                    {% endif %}
                {% endif %}
            </div>
        {% endfor %}
    </div>
{% endblock %}

{% block calendar_footer %}
    {% if credits %}
        <p>Background image: <a href="{{ credits }}" target="_blank">Christmas pattern by bm.iphone, CC BY 2.0</a></p>
    {%  endif %}
{% endblock %}