{% extends "adventcalendar/calendar.html" %}

{% block header %}
    <p><a href={% url 'calendar_detail' slug=object.calendar.slug%}>&lt; Back to {{ object.calendar.name }}</a></p>
    {% if object.calendar.creator == view.request.user %}
        <p><a class="btn btn-secondary" href="{% url 'door_edit' slug=object.slug %}" role="button">Edit door</a></p>
        <p>
            {% if previous_door %}
                <a href={% url 'door_detail' slug=previous_door.slug%}>Previous door</a>
            {% else %}Previous door{% endif %}
            &nbsp;
            {% if next_door %}
                <a href={% url 'door_detail' slug=next_door.slug%}>Next door</a>
            {% else %}Next door{% endif %}
        </p>
    {% endif %}
{% endblock %}

{% block calendar_header %}
    <div class="text-center bg-white border-2 p-1 m-3">
        <h1>{{ object.calendar.name}}: Door {{ object.number }}</h1>
        <small class="text-muted">(Opening date of this door: {{ object.opening_date }})</small>
    </div>
{% endblock %}

{% block calendar_body %}
    <div class="p-3">
        <div class="border-dark door door-detail m-5 p-5">
            <p>{{ object.content|safe }}</p>
        </div>
    </div>
{% endblock %}