{% extends "adventcalendar/calendar.html" %}

{% block back %}
    <a href={% url 'calendar_detail' pk=object.calendar.pk%}>&#129056; Back to {{ object.calendar.name }}</a>
{% endblock %}

{% block calendar_header %}
    {{ object.calendar.name }}: Door {{ object.number }}
{% endblock %}

{% block calendar_body %}
    <div class="p-3">
        <div class="border-dark text-center door door-detail m-5 p-5">
            <p>{{ object.content }}</p>
        </div>
    </div>
{% endblock %}

{% block calendar_footer %}
    <p>Opening date: {{ object.opening_date }}</p>
    <a class="btn btn-secondary" href="{% url 'door_edit' pk=object.pk %}" role="button">Edit</a>
{% endblock %}