$primary: #e53935;
$secondary: #dfc481;
$info: #7cd0c1;

@import '../../../node_modules/bootstrap/scss/bootstrap';

.black {
  color: black;
}

.title-border {
  border-bottom: 5px dotted;
  border-top: 5px dotted;
  border-color: #e53935;
}

.border-2 {
  border: 2px solid;
}

.calendar-plain {
  background-color: floralwhite;
}

.calendar-red {
  background-image: url('../../static/img/red_with_snowflakes.jpg');
  background-repeat: repeat;
  background-size: 400px 400px;
}

.calendar-cupcakes {
  background-image: url('../../static/img/cupcakes.jpg');
  background-repeat: repeat;
  background-size: 400px 400px;
}

.calendar-trees {
  background-image: url('../../static/img/christmas_trees.jpg');
  background-repeat: repeat;
  background-size: 400px 400px;
}

.calendar-twigs {
  background-image: url('../../static/img/twigs.jpg');
  background-repeat: repeat;
  background-size: 400px 400px;
}

.calendar-snowmen {
  background-image: url('../../static/img/snowmen.jpg');
  background-repeat: repeat;
  background-size: 400px 400px;
}

.door {
  border-right: 2px solid;
  border-top: 2px solid;
  border-bottom: 2px solid;
  border-left: 2px solid;
}

.door-closed {
    background:rgba(255,255,255,0.75);
    height: 100px;
}

.door-open {
    background: white;
    height: 100px;
}

.door-detail {
    background: white;
}

.footer {
  border-top: 5px dotted;
  border-color: #e53935;
}

* {
  max-width: 100%;
  height: auto;
}